table {
    margin: 25px 0;
    width: 80%;
    border-collapse: collapse;
}
table th,
table td {
    border: 1px solid;
}
.user-list {
    position: relative;
}

.form-add-user {
    display: none;
}
.form-add-user.open {
    display: block;
}

.form-add-user input {
    margin-bottom: 15px;
}
